th {
  text-align: center;
}
th td {
  text-align: center;
}
.middle {
  text-align: center;
}
.right {
  text-align: right;
}
.table-small {
  max-width: 500px;
  margin: auto;
}
.table-medium {
  max-width: 600px;
  margin: auto;
}
a:hover {
  text-decoration: none;
}
